<p id="notice"><%= notice %></p>

<p>
  <strong>First item:</strong>
  <%= @match.first_item_id %>
</p>

<p>
  <strong>Second item:</strong>
  <%= @match.second_item_id %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
