<% if current_user %>
<header class="header-cont">
			<div class="row">
			<div class="col-xs-12">
				<%=image_tag("Troker_orange.png", alt: "Logo")%>
			</div>
		</div>
</header>
<div class="profil" style="margin-top:70px">
	<div class="fond" style="opacity:0.3;">
	<%= image_tag(current_user.largeimage)%>	
	</div>
	<div class="img-round" style="margin-top:-120px;height:120px">
		<%= image_tag(current_user.largeimage)%>
		<p class="h4">
		<%= current_user.name %></p>
		<p class="h5">Bordeaux - Guingamp</p>
	</div>
</div>

<div class="col-md-12">
	<div class="row">
			<div class="row section padding">
			<div class="col-xs-6">
				<div class="title">
					<h1 class="h5" style="text-transform:uppercase;color:#ff8b00">Mes produits</h1>
				</div>
			</div>
			
			<div class="col-xs-6"style="height:35px">
				<p class="h6" style="margin-top: 10px;font-weight: bold;"><%= link_to 'NOUVEAU +', new_item_path %></p>
			</div>
			</div>
			<% @items.each do |item| %>
			<div class="row section padding-bottom">
				<div class="col-xs-4">
					<div class="rond" style="float:right"></div>
				</div>
				<div class="col-xs-4 name">
					<p id="<%= item.owner_id %>"><%= item.name %></p>
				</div>
				<div class="col-xs-1">
					<%= link_to 'V', item %>
				</div>
				<div class="col-xs-1">
					<%= link_to 'M', edit_item_path(item) %>
				</div>
				<div class="col-xs-1">
					<%= link_to 'X', item, method: :delete, data: { confirm: 'Are you sure?' } %>
				</div>
			</div>
			
				
			<% end %>

	</div>
</div>
<% end %>